<autofac>
  <components>
    <component
    type="UT.Presentation.Web.Models.DefaultSitecoreContext, UT.Presentation.Web"
    service="UT.Presentation.Web.Models.ISitecoreContext, UT.Presentation.Web" />
    <component
    type="UT.Domain.Repositories.FakeFinancialInstitutionsRepository, UT.Domain"
    service="UT.Domain.Interfaces.IFinancialInstitutionsRepository, UT.Domain.Interfaces" />
    <component
    type="UT.Presentation.Web.Models.WebSessionStorage, UT.Presentation.Web"
    service="UT.Application.Storage.ISessionStorage, UT.Application" />
    <component
    type="UT.Presentation.Web.Models.ControllerContext.FinancialInformationControllerContext, UT.Presentation.Web"
    service="UT.Presentation.Web.Models.ControllerContext.FinancialInformationControllerContext, UT.Presentation.Web"
    inject-properties="yes" />
  </components>
</autofac>