<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <getPlaceholderRenderings>
        <processor type="UT.Presentation.Web.Extensions.GetDynamicKeyAllowedRenderings, UT.Presentation.Web"
                   patch:before="processor[@type='Sitecore.Pipelines.GetPlaceholderRenderings.GetAllowedRenderings, Sitecore.Kernel']"/>
      </getPlaceholderRenderings>
      <getChromeData>
        <processor type="Sitecore.Pipelines.GetChromeData.GetPlaceholderChromeData, Sitecore.Kernel">
          <patch:attribute name="type">UT.Presentation.Web.Extensions.GetDynamicKeyPlaceholderChromeData, UT.Presentation.Web</patch:attribute>
        </processor>
      </getChromeData>
    </pipelines>
  </sitecore>
</configuration>