<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <!-- Local doesn't support SSL -->
    <httpCookies requireSSL="false" xdt:Transform="SetAttributes(requireSSL)" />
    <authentication>
      <!-- Local doesn't support SSL -->
      <forms requireSSL="false" xdt:Transform="SetAttributes(requireSSL)" />
    </authentication>
    <!-- Turn off custom errors in Dev -->
    <customErrors mode="Off" xdt:Transform="SetAttributes(mode)" />
    <!-- Enable MVC version header in DEV environments -->
    <httpRuntime enableVersionHeader="true" xdt:Transform="SetAttributes(enableVersionHeader)"/>
    <!-- Turn on Debug flag in DEV environment to disable bundling and minification to assist debugging. -->
    <compilation debug="true" xdt:Transform="SetAttributes(debug)"/>
  </system.web>
</configuration>
